.roy{
    background-color: teal;
    color: white;
    font-size: 36px;
    line-height: 52px;
}
.me {
    color: teal;
    font-size: 36px;
    line-height: 52px;
    margin: 5px;
}
p{
    margin: 10px 10px 10px 20px;
}
.main {
    border-top:2px solid teal;
    background-color: rgb(51, 51, 51);
    color: white;
}
.underline {
    padding:2px;
    background-color:gray;
    border-radius: 25px;
}

img {
    height: 250px;
    width: 250px;
    margin: 10px 20px 10px 0px;
}
footer {
    background-color: gray;
    padding: 10px;
    border-top: 2px solid teal;
    text-align: center;
}
/*body {
    margin: auto;
    align-content: center;
    width:960px;
}
*/